<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Admin Homepage</title>
  </head>
  <body>
    <header>
      <h1>Online Courses [Admin view]</h1>
      <p>Module 2</p>
      <a href="/admin/<%= admin.username %>/sendUpdate">Send updates to everyone</a> <br>
      <a href="/admin/<%= admin.username %>/problems">See all problmes reported</a> <br>
      <a href="/admin/<%= admin.username %>/logout">Logout</a> <br>
    </header>
  </body>
</html>
