<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/protected.css" />
    <title>Protected</title>
  </head>
  <body>
    <%-include('partials/nav.ejs')%> 
    <h1>Welcome to your Protected Page</h1>
    <div class="cardContainer">
      <div class="card">
        <div class="cardHeader">
          <h2>Bravo!! You went inside the Protected Page</h2>
        </div>
      </div>
    </div>
  </body>
</html>
