<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/form.css" />
    <title>Forgot password?</title>
  </head>
  <body>
    <%-include('partials/nav.ejs')%>
    <h1>Forgot password?</h1>
    <img src="assets/logo.png" alt="Logo" />
    <form action="/resetPassword" method="post">
      <input type="text" name="email" placeholder="Email" />
      <input type="submit" value="Submit your email" />
    </form>
  </body>
</html>